<div class="center">
  <mat-card class="card-color">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form
      (submit)="onLogin(loginForm)"
      #loginForm="ngForm"
      *ngIf="!isLoading"
    >
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="Enter your email"
          #emailInput="ngModel"
          required
          email
        />
        <mat-icon mat-icon-button matSuffix>email</mat-icon>
        <mat-error *ngIf="emailInput.invalid">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Enter your password"
          required
          name="password"
          ngModel
          #passwordInput="ngModel"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordInput.invalid">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>

      <button
        class="margin-change"
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="!isLoading"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
