<div class="center">
  <mat-card class="card-color">

    <ngx-stripe-payment-request-button
    [paymentOptions]="paymentRequestOptions"
    (paymentMethod)="onPaymentMethod($event)"
    (shippingaddresschange)="onShippingAddressChange($event)"
    (notavailable)="onNotAvailable()"
  ></ngx-stripe-payment-request-button>
    <!-- <mat-card-header>
      <mat-card-title *ngIf="!isLoading">Login</mat-card-title>
      <mat-card-title *ngIf="isLoading">
        Logging in, please wait...
      </mat-card-title>
    </mat-card-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="Enter your email"
          #emailInput="ngModel"
          required
          email
        />
        <mat-icon mat-icon-button matSuffix>email</mat-icon>
        <mat-error *ngIf="emailInput.invalid">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Enter your password"
          required
          name="password"
          ngModel
          #passwordInput="ngModel"
        />
        <mat-icon matSuffix (click)="hide = !hide" class="mat-hide">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="passwordInput.invalid">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>

      <button
        class="margin-change mat-button1"
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="!isLoading"
      >
        Login
      </button>
    </form> -->
  </mat-card>
</div>
