<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveAuction()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        [formControlName]="'auctionItemTitle'"
        placeholder="Enter Auction Item Title"
      />
      <mat-error *ngIf="form.get('auctionItemTitle').invalid">
        Please enter a auction item title!
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="
        imagePreview !== '' && imagePreview !== null && form.get('image').valid
      "
    >
      <img [src]="imagePreview" [alt]="form.value.auctionItemTitle" />
    </div>
    <mat-form-field>
      <textarea
        rows="4"
        matInput
        type="text"
        [formControlName]="'auctionItemContent'"
        placeholder="Enter Auction Item Content"
      ></textarea>
      <mat-error *ngIf="form.get('auctionItemContent').invalid">
        Please enter a auction item content!
      </mat-error>
    </mat-form-field>
    <button
      class="margin-change mat-button1"
      mat-raised-button
      color="accent"
      type="submit"
    >
      Save Auction Item
    </button>
  </form>
</mat-card>
