<mat-toolbar>
  <span class="heading">
    Online Auction
  </span>
  <span class="spacer"></span>
  <ul>
    <li class="margin" *ngIf="!userIsAuthenticated">
      <a
        mat-raised-button
        color="accent"
        routerLink="/signup"
        class="mat-button1"
      >
        SignUp
      </a>
    </li>
    <li class="margin" *ngIf="!userIsAuthenticated">
      <a mat-raised-button color="warn" routerLink="/login" class="mat-button2">
        Login
      </a>
    </li>
    <li *ngIf="userIsAuthenticated" (click)="onLogout()">
      <a mat-raised-button color="danger" class="mat-button3">
        LogOut
      </a>
    </li>
  </ul>
</mat-toolbar>
