mat-toolbar {
  background-color: #9C27B0;
}

.heading:hover {
  cursor: pointer;
  transition: transform 250ms, opacity 400ms;
  text-decoration: none;
  color: rgb(248, 225, 225);
}

.heading {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.margin {
  margin-right: 10px;
}

.mat-button1:hover {
  background-color: #06d471;
  color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.mat-button2:hover {
  background-color: #ff6e5e;
  color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.mat-button3:hover {
  background-color: #e90a0a;
  color: white;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.mat-button-add {
  background-color: rgb(4, 228, 4);
  color: white;
}

.mat-button-add:hover {
  background-color: lightgreen;
  color: white;
}
