mat-toolbar {
    background-color: #9C27B0;
    .heading:hover {
        cursor: pointer;
        color: rgb(248, 225, 225);
        animation-duration: 5s;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.margin {
    margin-right: 10px;
}

.mat-button1:hover {
    background-color: #0ef184;
    color: white;
    animation-duration: 1s;
}

.mat-button2:hover {
    background-color: #ff6e5e;
    color: white;
    animation-duration: 1s;
}
