<mat-toolbar>
  <span class="heading">
    Online Login
  </span>
  <span class="spacer"></span>
  <ul>
    <li class="margin">
      <a
        mat-raised-button
        color="accent"
        routerLink="/signup"
        class="mat-button1"
      >
        SignUp
      </a>
    </li>
    <li class="margin">
      <a mat-raised-button color="warn" routerLink="/login" class="mat-button2">
        Login
      </a>
    </li>
    <!-- <li>
      <a mat-raised-button color="danger">
        LogOut
      </a>
    </li> -->
  </ul>
</mat-toolbar>
